<!--bg aminated-->
        <canvas></canvas>
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.0/TweenMax.min.js'></script>
        <!--<div class="z-30 w-full h-full absolute top-0 left-0">-->
             <!-- Login Modal -->
            
            <!--content -->
            <section >
                <div class="top-40 md:top-30 relative z-50 lg:w-3/5 mx-auto text-center py-8 border-1 border-black rounded-lg px-4 sm:px-5 bg-modal ">
                      <!-- Login btn -->
                      <div class="flex justify-end">
                        
                        <button class=" btn openloginmodal ml-auto font-bold rounded-full  text-2xl text-login">Login</button> 
                    </div> 
                    <!-- main -->
                    <div class="mt-5 px-5 ">
                        <h1 class="gradient text-5xl font-semibold">Personal Management Tool</h1>
                        <p class=" gradient mt-6 text-base sm:text-lg font-normal ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio quidem accusantium impedit! Dolores dolore aperiam voluptatibus officiis sapiente optio, voluptate hic fugiat veniam numquam, maxime doloremque ratione iste, voluptas reprehenderit.</p>   
                     </div>   
                     <div class="flex justify-between gap-5 px-4 md:px-16 mt-10">
                        <div>
                            <a href="https://github.com/Mary90272" class="font-semibold fa-brands fa-github github fa-2xl"></a>
                        </div>
                        <div>
                            <a href="https://github.com/Mary90272"class="font-semibold fa-brands fa-github fa-2xl "></a>
                        </div>
                        <div>
                            <a href="https://github.com/Mary90272" class="font-semibold fa-brands fa-github fa-2xl "></a>
                        </div>
                        <div>
                            <a href="https://github.com/Mary90272" class="font-semibold fa-brands fa-github fa-2xl "></a>
                        </div>
                        <div>
                            <a href="https://github.com/Mary90272" class="font-semibold fa-brands fa-github fa-2xl "></a>
                        </div>
                    </div>
                </div>              
                            
            </section>
            
    </body>
<script src="/js/handlebars_js/login.js"></script>