<div class="carouselmodal hidden">
    <div class="w-full h-full absolute top-0 left-0" style="backdrop-filter: blur(5px);z-index: 100000 !important;"></div>
    <div class="absolute rounded-lg px-10 py-10 top-20 w-11/12 md:w-10/12 mx-auto left-0 right-0" style="z-index: 1000000000 !important;">
        <button class="closecarouselmodal absolute right-0">
            <i class="fa-sharp fa-solid fa-xmark text-4xl text-white"></i>
        </button>                                  
        <div class="w-full">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img attributes= "pintrest" class="https://i.imgur.com/f21OcNl.jpg" href="https://www.pinterest.com/" />
                    </div>
                    <div class="swiper-slide">
                        <img attributes= "buzz" src="https://i.imgur.com/jXhL9OS.png" href="https://www.buzzfeed.com/" />
                    </div>
                    <div class="swiper-slide">
                        <img attributes= "lofi" src="https://i.imgur.com/RKUvshJ.jpg" href="https://www.youtube.com/watch?v=jfKfPfyJRdk" />
                    </div>
                    <div class="swiper-slide">
                        <img attributes= "meditation" src="https://i.imgur.com/ERQvHvY.jpg" href="https://www.youtube.com/watch?v=2gIVB2wGcQ4" />
                    </div>
                    <div class="swiper-slide">
                        <img attributes= "rainrider" src="https://i.imgur.com/hnXgZWA.jpg" href="https://www.youtube.com/watch?v=wPczXD5qwbE" />
                    </div>
                    <div class="swiper-slide">
                        <img attributes= "brittanica" src="https://i.imgur.com/pqkEQ7b.jpg" href="https://www.britannica.com/quiz/browse/" />
                    </div>
                    <div class="swiper-slide">
                        <img attributes= "spotify-mood-mixer" src="https://i.imgur.com/BCiwuSa.jpg" href="https://sieraford.github.io/mood-mixer/" />
                    </div>
                </div>
                <div class="swiper-button-next">
                    <i class="fa-solid fa-circle-chevron-right text-brand-blue text-5xl"></i>
                </div>
                <div class="swiper-button-prev">
                    <i class="fa-solid fa-circle-chevron-left text-brand-blue text-5xl"></i>
                </div>
            </div>
        </div>
    </div>
</div>
