<!DOCTYPE html>
<html>
  <head>
    <title>My Project Manager</title>
  </head>

  <body>
    <header>
    </header>


      <nav>
        <a href="/">Home</a>
        <a href="/">Calender</a>
        <a href="/">Project</a>
      </nav>
    

    <main>
      {{{body}}}
    </main>

    <footer>

    </footer>
  </body>
</html>