<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="description" content="orgizantion tool, work/study tool. time management">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="style.css">
           <src source=""></src>
               <title>My Project Manager</title>
</head>

  <body>
    <header>
        <h1>My Project Manager</h1>
    </header>
<main>
<section id="main&nav"

     <aside id={{{navbar}}}>
          <nav>
            <ul>
                 <li>
                      <a href="/">Project 1</a>
                      <a href="/">Project 2</a>
                      <a href="/">Project 3</a>
                </li>
            </ul>
      </nav>
      </aside>
    
<section id={{{body}}}>

</section>

//requires version
<!--script src="js/jquery"></script-->

//requires version
<!--script src="js/handlebars"></script-->

//requires script file
<!--script src="js/scripts.js"></script-->


 </main>

    <footer>
    </footer>
  </body>
</html>