<div class="container">
  <div class="forms_wrapper">
    <div class="form_wrapper">
      <form class="form" method="post" action="/api/users/login">
        <h1>Login</h1>
        <div>
          <input type="email" placeholder="Enter Your Email" name="email" />
        </div>
        <div>
          <input type="password" placeholder="Enter Password" name="password" />
        </div>
        <button class="btn btn-primary">Login</button>
      </form>
    </div>
    <div class="form_wrapper">
      <form class="form" method="post" action="/api/users">
        <h1>SignUp</h1>
        <div>
          <input type="text" placeholder="Enter Username" name="name" />
        </div>
        <div>
          <input type="email" placeholder="Enter Email" name="email" />
        </div>
        <div>
          <input type="password" placeholder="Enter Password" name="password" />
        </div>
        <button class="btn btn-primary" type="submit">Signup Now</button>
      </form>
    </div>
  </div>
</div>