<h2 class="card-title" style="margin-top: 10px; align-self: center">Timer</h2>
<div
  id="timer"
  style="align-self: center;font-family: 'Orbitron', sans-serif;font-size: 50px;color:#00FF1A
;margin:"
>
  00:00:00

  {{! end card }}
</div>